<!DOCTYPE html>

<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>HomePath</title>
</head>
<body>
<div class="container">
<div class="header-image">
  <picture>
    <source media="(max-width: 600px)" srcset="/Content/Images/V2/header-hyundai-mobile.jpg">
    <%= image_tag "jamr_carousal.jpg" %>
  </picture>
  <div class="header-scroll-overlay-container">
    <div id="header-scroll-overlay" class="text-center">
      <p>SCROLL TO SEE MORE<br /><%= image_tag "chevrons.png" %></p>
    </div>
  </div>
</div>
<div class="search-content bg-lt-gray">
  <div class="row no-margin">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      <h1 class="orange">AM I ELIGIBLE?</h1>
      <p>HomePath is an exclusive home reward program that is only available to members of participating organizations and common household residents of members of those organizations.</p>
      <p>You may receive this perk through a number of organizations such as your <strong><span class="orange">CREDIT UNION</span>, <span class="orange">BANK</span>, <span class="orange">EMPLOYER</span>, <span class="orange">INSURANCE COMPANY</span>, <span class="orange">BENEFIT PROVIDER</span>, <span class="orange">ASSOCIATION</span></strong>, or <strong><span class="orange">MEMBERSHIP GROUP</span>.</strong> </p>
      <p>Use the search box below to check your eligibility.</p>
    </div>
  </div>
  <div class="row no-margin margin-top-30">
    <div class="col-xs-12 col-sm-4">
      <label>ORGANIZATION TYPE</label>
      <select id="AffiliationType" name="AffiliationType"><option value="">SELECT</option>
        <option value="Association">Associations or Membership</option>
        <option value="Financial Institution">Financial Institution (Credit Union or Bank)</option>
        <option value="Employer">Employer</option>
        <option value="Insurance">Insurance Company</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-5">
      <label>ORGANIZATION NAME</label>
      <input class="margin-top-7" id="OrganizationName" name="OrganizationName" onkeypress="validatecharacters(event)" type="text" value="" />
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="search-align">
        <input type="button" value="SEARCH" class="search" />
      </div>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col-sm-12" id="search-results"></div>
    <div class="col-sm-12" id="search-error">Please enter at least the first 3 characters of your association group.</div>
  </div>
</div>

<!--<div class="dk-contact bg-dk-gray text-center">-->
  <!--<div class="row no-margin dk-contact-margin">-->
    <!--<div class="col-sm-12">-->
      <!--<p class="orange">If you don’t find your company or organization, please contact us:</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row no-margin dk-contact-icon-margin">-->
    <!--<div class="col-sm-12 col-md-6 contact-right">-->
      <!--<p class="kerning dk-contact-icon-margin dk-contact-icon"><img src="../Content/Images/V2/email.png" alt="Email" /> <a href="mailto:info@HomePathRewards.com" style="color:inherit;"><strong>INFO@HomePathRewards.COM</strong></a></p>-->
    <!--</div>-->
    <!--<div class="col-sm-12 col-md-6 contact-left">-->
      <!--<p class="kerning dk-contact-icon"><img src="../Content/Images/V2/phone.png" alt="Phone" /> <a href="tel:888-982-6687" style="color:inherit;"><strong>888-98-BONUS (26687)</strong></a></p>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
        if (isIE11 && window.matchMedia("(max-width: 768px)").matches) {
            $("#make-logo-mobile").show();
            $("#make-logo-desktop").hide();
        }
    });
    if (matchMedia) {
        const mq = window.matchMedia("(max-width: 768px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }
    function WidthChange(mq) {
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

        if (mq.matches || (isIE11 && window.matchMedia("(max-width: 768px)").matches)) {
            $("#make-logo-mobile").show();
            $("#make-logo-desktop").hide();
        } else {
            $("#make-logo-mobile").hide();
            $("#make-logo-desktop").show();
        }
    }
</script>

<script>
    $(document).ready(function () {
        var pathname = (window.location.pathname);
        $('.nav a').each(function () {
            var currentlink = "";
            if ($(this).attr('href').indexOf("?") === -1)
                currentlink = $(this).attr('href');
            else
                currentlink = $(this).attr('href').substring(0, $(this).attr('href').indexOf("?"));
            if (currentlink === pathname) {
                $(this).addClass("nav-active")
            }
        });
        if (pathname.indexOf("/Home/Register") != -1 || pathname.indexOf("/Home/VehicleInformation") != -1 || pathname.indexOf("Home/Eligibility/index.html") != -1 || pathname.indexOf("Home/Survey/index.html") != -1 || pathname == "/Home/Confirmation" || pathname.indexOf("/Home/Resubmit") != -1)
            $("body").addClass("bg-dk-gray");
    });
</script>
</body>
</html>